* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;

}

.header {
    font-family: 'Poppins', sans-serif;
    position: relative;
    /* height: 90vh; */
    min-height: 550px;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(IMG_20230529_063606.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.header .header-content {
    padding-left: calc(9px + (110 - 9) * ((100vw - 300px) / (1600 - 300)));
    width: 100%;
    position: absolute;
    left: 0;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
}

.header .header-content .header-subtitle {
    font-weight: 200;
    font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
    padding: 7px;
}

.header .header-content .header-title {
    font-size: calc(40px + (100 - 40) * ((100vw - 300px) / (1600 - 300)));
    padding: 3px;
    font-weight: bold;
    line-height: .7;
    margin-bottom: 25px;
    color: inherit;
}

.header .header-content .header-mono {
    letter-spacing: 5px;
    font-weight: 500;
    font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 40px;
}


nav {
    font-family: 'Poppins', sans-serif; ;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    position: sticky;
    /* border-bottom: 1px #fff solid; */
    align-items: center;
    top: 0;
    z-index: 1;
    /* color: aqua; */
    background-color: #F85C70;
}

nav:hover {
    background-color: #a49fa0;
}

nav li {
    list-style: none;
    margin: 0 15px;
}

nav ul a {
    text-decoration: none;
    color: #0f0e0e;

    font-weight: 400;
    font-size: 1.1rem;
}

nav ul a:hover {
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
}


nav ul {
    display: flex;
    justify-content: center;
}

.left {
    font-size: 1.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Caprasimo', cursive;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
}

#port {
    color: rgb(249, 205, 5);
    font-weight: 400;
    font-family: 'Caprasimo', cursive;
}

.left .logo {
    height: 35px;
    width: 40px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(68, 67, 67, 0.2);
    border-radius: 16px;
    padding: 6px 20px;
}

.search input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 1px 7px;

    color: #535356;
}

.search button img {
    width: 18px;
}

::placeholder {
    color: #535356;
}

.search button {
    border: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    width: 18px;
}

.btn-white {
    margin-left: 35px;
    color: #F85C70;
    outline: 0;
    border-color: #F85C70;
    padding: 5px;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: calc(7px + (15 - 7) * ((100vw - 300px) / (1600 - 300)));
}

.btn-white:hover {
    color: #fff;
    outline: 0;
    border-color: #fff;
}

#one {

    background-color: #c7c3c3;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 7px 0 7px;
    grid-gap: 7px;
    color: black;
    font-family: 'Raleway', sans-serif !important;

}

.card {
    background: #fff;
    /* border: 2px yellow solid; */
    height: 60vh;
    font-family: 'Raleway', sans-serif !important;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px grey;
    margin-top: 7px;

}

.card h2,
.ding {
    font-family: calc(12px + (40 - 12) * ((100vw - 300px) / (1600 - 300)));
    ;
    padding: 35px 0 7px 0;
    margin-left: 35px;
}

.line5 {
    margin-bottom: 25px;
    margin-left: 35px;
    display: block;
    width: 35px;
    height: 1.3px;
    background-color: #F85C70;
}

.mb-3 {
    padding: 5px 150px 20px 35px;
    font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
    ;
}

.mt-20 {
    padding: 5px 35px 20px 35px;
    align-items: center;
    justify-content: center;
    color: #787474;
    font-size: calc(7px + (15 - 7) * ((100vw - 300px) / (1600 - 300)));
    ;
}

.btn-danger {
    margin-left: 35px;
    color: #F85C70;
    outline: 0;
    border-color: #F85C70;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: calc(7px + (15 - 7) * ((100vw - 300px) / (1600 - 300)));
    ;
}

.mt li {
    list-style: none;
    margin-left: 35px;
    color: #787474;
    padding-top: 3px;
    margin-bottom: 3px;
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    ;
}

span.dob{
    color: black !important;
}

.social {
    display: flex;
    padding-top: 10px;
}

.mt li a {
    text-decoration: none;
    color: #F85C70;
    transition: 0.5s ease-in-out;
    /* width: 50px; */
}
.mt li a i:hover{
    color: #0a0a0a;
    font-size: 1.3rem;
}

.col i {
    font-size: 2rem;;
    margin-right: 15px;
    margin-top: 10px;
    color: #F85C70;
}

.row {
    display: flex;
    margin-left: 35px;
}

.row h4 {
    padding-bottom: 5px;
    margin-top: 10px;
}

.row h5 {
    padding-bottom: 10px;
    color: #787474;
}

.row hr,
.card-body hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#resume {
    background-color: #fff;
    margin-top: 7px;
    color: #0f0e0e;
    padding-bottom: 150px;
    font-family: 'Raleway', sans-serif !important;
}

.danger {
    color: #F85C70;
}

.mb-5 {
    padding: 90px 0 70px 90px;
    font-size: 2rem;
}

.row1 {
    display: flex;
    justify-content: center;


}

.col4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card4 {
    width: 325px;

    border: 1px rgb(205, 203, 203) solid;
    margin: 20px;
    /* max-height:1000px; */
    /* outline:grey; */
}

.card5 {
    width: 325px;
    border: 1px rgb(205, 203, 203) solid;
    height: 50%;
    margin: 20px;
}

.card-body {
    margin-left: 35px;
    max-width: 275px;
}

.danger1 {
    color: #F85C70;
    font-weight: bolder;
    font-size: 1.1rem;
    /* margin-top: 20px; */
    margin-top: 20px;
}

.card-body p {
    padding: 20px 0 0 0;
    font-size: 1.2rem;
}

.card-body .subtitle {
    padding: 20px 0 20px 0 !important;
    color: #787474;
    font-size: 0.9rem;
}

.card-body h4 {
    padding-bottom: 20px;
}

.skills-bar {
    margin-left: 35px;
    max-width: 250px;
}

.bar {
    margin: 15px 0;
}

.bar:first-child {
    margin-top: 0px;
}

.bar .info span {
    font-size: 1rem;
}

.bar .info {
    margin-bottom: 5px;
}

.bar .progress {
    position: relative;
    height: 10px;
    width: 100%;
    background: #dad6d6;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
        0px 1px rgba(225, 225, 225, 0.8);
    border-radius: 15px 0 0 15px;
}

.bar .progress.html span {
    height: 100%;
    width: 80%;
    background: #F85C70;
    position: absolute;
    border-radius: 15px 0px 0px 15px;
}

.bar .progress.ps span {
    height: 100%;
    width: 70%;
    background: #F85C70;
    position: absolute;
    border-radius: 15px 0px 0px 15px;
}

.bar .progress.css span {
    height: 100%;
    width: 85%;
    background: #F85C70;
    position: absolute;
    border-radius: 15px 0px 0px 15px;
}

.bar .progress.js span {
    height: 100%;
    width: 50%;
    background: #F85C70;
    position: absolute;
    border-radius: 15px 0px 0px 15px;
}

.bar .progress.uiux span {
    height: 100%;
    width: 20%;
    background: #F85C70;
    position: absolute;
    border-radius: 15px 0px 0px 15px;
}

.two {
    height: 40vh;
    background: #343a40;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brief-con {
    font-size: calc(15px + (50 - 12) * ((100vw - 300px) / (1600 - 300)));
    ;
    ;
    padding-bottom: 25px;
}

.brief-button {
    display: flex;
    background: #F85C70;
    padding: 9px 55px;
    margin: auto;
    font-size: 1.2rem;
    border-radius: 7px;
}

.brief-button:hover {
    background-color: #fff;
    color: #F85C70;
}
.describe{
    height: 40vh;
    background: #F85C70;
}
.heart-all{
    display: flex;
    justify-content: space-evenly;
    font-family:'Poppins', sans-serif;

    text-align: center;
    padding: 10vh 35px;
}
.row20{
    display: flex;
    
   
}
.mauto{
    height: 20vh;
    width: 8vw;
    background: transparent;
    border-right: 2px white solid;
}
.heart-cell{
    height: 20vh;
    width: 10vw;
    /* background:blue; */
    padding:10px ;
}
.heart-title{
    padding: 10px 0 5px 0;
    /* margin-top: 8px; */
    color: #010101;
    font-size: 2rem;
}
.heart-subtitle{
    font-size: 0.85rem;
    color: #bfc1c3;

}

.three {
    height: 225vh;
    background: #fafafd;
    font-family: 'Raleway', sans-serif;
    color: #0a0a0a;
}

.row6 {
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    color: #0f0e0e;
}
.post-details i{
    color: #F85C70;
    padding: 0 3px;
}
.blog-card {
    height: 55vh;
    background: #fff;
    border: 1px #c6c2c2 solid;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-holder img {
    height: 54vh;
    width: 55vh;
    margin-top: 1px;
}

.content-holder {
    margin-left: 35px;
}

.content-holder .title {
    padding-bottom: 20px;
}

.post-details {
    padding-bottom: 20px;
}

.post-details a {
    text-decoration: none;
    color: #9f9a9a;
    font-size: 0.9rem;
}

.blog-content {
    padding-bottom: 20px;
    color: #9f9a9a;
    font-size: 0.9rem;
    padding-right: 100px;

}

.read-more {
    text-decoration: none;
    color: #F85C70;
    font-size: 1.2rem;
}

.bold {
    font-weight: 400;
    color: black;
    font-size: 1rem;
}
.contact {
    height: 90vh;
    background: #343a40;
    font-family: 'Raleway', sans-serif !important;
    padding: 80px 100px;
}

.row8 {
    display: flex;
    justify-content: space-around;
}

.col8 {
    width: 600px;
    border: 2px #F85C70 solid;
    height: 70vh;
    border-radius: 9px;
}

.contact-title {
    padding: 40px 50px 10px 35px;
    font-size: 1.3rem;

}

.col9 {
    width: 400px;
    border: 2px #F85C70 solid;
    border-radius: 9px;
    color: #fff !important;
}

.contact-main form {
    padding-left: 35px;
}

.contact-main form input {
    width: 500px;
    padding: 5px;
    border-radius: 5px;
    outline: 1;
    margin-bottom: 15px;
}

.contact-main form textarea {
    width: 500px;
    max-width: 500px;
    max-height: 200px;
    padding: 5px;
    border: 5px #f98091 solid;
    border-radius: 5px;
    outline: 0;
    margin-bottom: 10px;
}

.brief-button1 {
    width: 500px;
    background: #F85C70;
    padding: 8px 25px;
    margin: auto;
    font-size: 1rem;
    border-radius: 7px;
}

.d-inline {
    padding: 0px 0 25px 15px;
    color: white !important;
    font-size: 0.9rem;
    /* background-color: yellow; */
}

.d-inline span {
    padding-top: 20px;
    color: #b1aeae !important;
    /* background: #0a0a0a; */
    font-size: 0.8rem !important;
}

.social-icon {
    display: flex;
    margin-left: 35px;

}

.social-icon li {
    list-style: none;
    padding: 10px;

}

.social-icon li a {
    color: #F85C70;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0 5px;
    transition: 0.2s ease-in-out;
}
.social-icon li :hover{
    font-size: 1.3rem;
    
}
footer {
    padding: 40px 15% 10px;
    /* border-top: 6px solid #333; */
    color: #c1bdbd;
    background: #F85C70;

}

.hori {
    display: flex;
    padding: 0px 122px 10px 0px;
    justify-content: flex-start;
}

.vert {
    width: 400px;
}

.vert ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #ebcdcd;
    font-weight: lighter;
    padding-top: 7px;
}

.vert ul li a:hover {
    color: #010101;
    font-size: 1rem;
    font-weight: 400;
}

.vert ul {
    padding-right: 150px;
}

.vert ul li {
    list-style: none;
}

footer .engbtn {
    margin-top: 20px;
}

footer section {
    color: #131313;
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif !important;
}